:root {
    --bg-dark: oklch(0.15 0 0);
    --bg: oklch(0.2 0 0);
    --bg-light: oklch(0.25 0 0);
    --text-muted: oklch(0.8 0 0);
    --text: oklch(0.9 0 0);

    --accent: oklch(0.6 0.08 40);

    --section-radius: 30px;
}

body {
    background-color: var(--bg-dark);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-family: "Hack", monospace;
}

h1 {
    color: var(--accent);
}

h1::before {
    content: "./";
}

h1::after {
    content: " ▊";
}

p {
    color: var(--text-muted);
    font-family: "Hack", monospace;
}

.links {
    display: flex;
    flex-direction: row;

    margin: 0 50px 50px 50px;
}

.project-links {
    justify-content: left;
    display: flex;
    flex-direction: row;

    margin: 25px 0 0 0;
}

.links, .project-links {
    img {
        padding: 5px 25px;
        margin: 0 20px 0 0;

        background-color: var(--accent);
        border-radius: 15px;

        transition: transform 180ms ease, box-shadow 180ms ease;
    }

    img:hover {
        transform: scale(1.05) translateY(-1px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.biography {
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin: 50px 15% 50px 15%;

    background-color: var(--bg);
    border-radius: var(--section-radius);

    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.2), 0 4px 5px rgba(0, 0, 0, 0.5);

    .biography-header {
        justify-content: center;
        display: flex;
        flex-direction: row;

        img {
            border-radius: 25px;
            margin: 50px;
            border: 5px solid var(--accent);
            align-self: center;
        }

        .biography-text {
            justify-content: center;
            display: flex;
            flex-direction: column;

            padding: 50px 50px 50px 0;

            h1 {
                margin: 0;
            }

            p {
                margin: 10px 0 0 0;
            }
        }
    }
}

.projects {
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin: 0 15% 50px 15%;
    padding: 50px 50px;
    box-sizing: border-box;

    background-color: var(--bg);
    border-radius: var(--section-radius);
    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.2), 0 4px 5px rgba(0, 0, 0, 0.5);

    h1 {
        margin: 0;
    }

    .project {
        justify-content: center;
        display: flex;
        flex-direction: column;

        margin: 50px 0 0 0;
        padding: 25px 25px;
        width: 100%;
        box-sizing: border-box;

        background-color: var(--bg-light);
        border-radius: 20px;
        box-shadow: 0 -2px 1px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.5);

        h2 {
            margin: 0;
        }

        p {
            margin: 10px 0 0 0;
        }
    }
}